<p>Hola {{ name }},</p>
<p>Hemos recibido una solicitud de restauraci칩n de contrase침a.</p>
<p>Si deseas restaurarla, haz clic en el siguiente link y sigue las instrucciones.</p>
<p>
    <a href="{{ url }}">Cambiar Contrase침a</a>
</p>

<p>Si no realizaste esta solicitud, ingresa a tu cuenta y cambia tu contrase침a de inmediato.</p>